# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env

# Node / Angular
node_modules/
dist/
*.zip

# VSCode and IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Other temporary
*.log
*.bak
